<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag "application-" + params[:controller].to_s, media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
      <%= render 'layouts/header' %>
      <%= if params[:controller] == 'trips' && params[:action] == 'show' then ''
          else raw('<div class="container">')
          end
      %>
        <%= yield %>
        <!-- <%= render 'layouts/footer' %> -->
        <!-- <%= debug(params) if Rails.env.development? %> -->
        <%= if params[:controller] == 'trips' && params[:action] == 'show' then ''
           else raw('</div>')
           end
        %>
  </body>
</html>